@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* min-height:100vh */
}
#container{
  width: 100vw;
  height: 25vh;
  margin:auto;
  background-color: crimson;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  transition: 300ms;
  margin-block: 5vh;
}

#container:has(.left:hover){
  grid-template-columns: 3fr 1fr 1fr;
}
#container:has(.center:hover){
  grid-template-columns: 1fr 3fr 1fr;
}
#container:has(.right:hover){
  grid-template-columns: 1fr 1fr 3fr;
}
#container div{
background-color: wheat;
transition: 300ms;
}
#container :is(div:hover){

  background-color: crimson;
}